################################
# Common
################################
DOMAIN=<domain>
VPN_PUBLIC_IPV4=<vps_public_ipv4>
VPN_PUBLIC_IPV6=<vps_public_ipv6>

################################
# Permissions / User IDs
# Find these on the host OS using `id <username>`, `getent group systemd-journal`, and `getent group docker`
################################
PUID=<uid>
PGID=<gid>
JOURNAL_GID=<journal_gid>
DOCKER_GID=<docker_gid>

################################
# Crowdsec
################################
# Nothing here!

################################
# Docker Socker Proxy
################################
# Nothing here!

################################
# Headscale
################################
HEADSCALE_OIDC_CLIENT_ID=<authentik_oauth_client_id>
HEADSCALE_OIDC_CLIENT_SECRET=<authentik_oauth_client_secret>
HEADPLANE_COOKIE_SECRET=<cookie_secret>
HEADPLANE_HEADSCALE_PRE_AUTH_KEY=<pre_auth_key>
HEADPLANE_HEADSCALE_API_KEY=<api_key>
HEADPLANE_OIDC_CLIENT_ID=<authentik_oauth_client_id>
HEADPLANE_OIDC_CLIENT_SECRET=<authentik_oauth_client_secret>

################################
# Monitoring
################################
# Nothing here!

################################
# Traefik
################################
TRAEFIK_LE_EMAIL=<letsencrypt_email>
TRAEFIK_CF_DNS_API_TOKEN=<cloudflare_api_token>
TRAEFIK_CROWDSEC_LAPI_KEY=<crowdsec_lapi_key>
