services:
  #################################################################################
  # Cloudflare
  #################################################################################
  cloudflared:
    image: cloudflare/cloudflared:latest
    restart: unless-stopped
    command: tunnel --no-autoupdate run
    env_file:
      - .env.cloudflared
    networks:
      - authentik-ingress
      - open-webui-ingress
      - penpot-ingress
      - code-runner-ingress

  #################################################################################
  # Authentik
  #################################################################################
  authentik-server:
    image: ghcr.io/goauthentik/server:${AUTHENTIK_VERSION}
    restart: unless-stopped
    command: server
    depends_on:
      authentik-postgresql:
        condition: service_healthy
    env_file:
      - .env.authentik.common
      - .env.authentik.server
    volumes:
      - authentik-media-data:/media
      - authentik-custom-templates-data:/templates
    networks:
      - authentik-net
      - authentik-ingress

  authentik-worker:
    image: ghcr.io/goauthentik/server:${AUTHENTIK_VERSION}
    restart: unless-stopped
    user: root
    command: worker
    depends_on:
      authentik-postgresql:
        condition: service_healthy
    env_file:
      - .env.authentik.common
      - .env.authentik.server
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - authentik-media-data:/media
      - authentik-custom-templates-data:/templates
      - authentik-certs-data:/certs
    networks:
      - authentik-net

  authentik-postgresql:
    image: postgres:16-alpine
    restart: unless-stopped
    env_file:
      - .env.authentik.common
      - .env.authentik.db
    volumes:
      - authentik-db-data:/var/lib/postgresql/data
    networks:
      - authentik-net
    healthcheck:
      interval: 30s
      retries: 5
      start_period: 20s
      test:
        - CMD-SHELL
        - pg_isready -d $${POSTGRES_DB} -U $${POSTGRES_USER}
      timeout: 5s

  #################################################################################
  # Ollama
  #################################################################################
  ollama:
    image: ollama/ollama:latest
    restart: unless-stopped
    volumes:
      - ollama-data:/root/.ollama
    networks:
      - ollama-net
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]

  #################################################################################
  # Open WebUI
  #################################################################################
  open-webui:
    image: ghcr.io/open-webui/open-webui:cuda
    restart: unless-stopped
    env_file:
      - .env.open_webui
    volumes:
      - open-webui-data:/app/backend/data
    networks:
      - ollama-net
      - open-webui-ingress
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]

  #################################################################################
  # Penpot
  #################################################################################
  penpot-frontend:
    image: penpotapp/frontend:${PENPOT_VERSION}
    restart: unless-stopped
    depends_on:
      - penpot-backend
      - penpot-exporter
    env_file:
      - .env.penpot.flags
      - .env.penpot.body_size
    volumes:
      - penpot-assets-data:/opt/data/assets
    networks:
      - penpot-net
      - penpot-ingress

  penpot-backend:
    image: penpotapp/backend:${PENPOT_VERSION}
    restart: unless-stopped
    depends_on:
      penpot-postgres:
        condition: service_healthy
      penpot-valkey:
        condition: service_healthy
    env_file:
      - .env.penpot.common
      - .env.penpot.flags
      - .env.penpot.uri
      - .env.penpot.body_size
      - .env.penpot.secret_key
      - .env.penpot.backend
    volumes:
      - penpot-assets-data:/opt/data/assets
    networks:
      - penpot-net

  penpot-exporter:
    image: penpotapp/exporter:${PENPOT_VERSION}
    restart: unless-stopped
    depends_on:
      penpot-valkey:
        condition: service_healthy
    env_file:
      - .env.penpot.secret_key
      - .env.penpot.exporter
    networks:
      - penpot-net

  penpot-postgres:
    image: postgres:15
    restart: unless-stopped
    stop_signal: SIGINT
    env_file:
      - .env.penpot.common
      - .env.penpot.postgres
    volumes:
      - penpot-db-data:/var/lib/postgresql/data
    networks:
      - penpot-net
    healthcheck:
      test:
        - CMD-SHELL
        - pg_isready -d $${POSTGRES_DB} -U $${POSTGRES_USER}
      interval: 2s
      timeout: 10s
      retries: 5
      start_period: 2s

  penpot-valkey:
    image: valkey/valkey:8.1
    restart: unless-stopped
    env_file:
      - .env.penpot.valkey
    networks:
      - penpot-net
    healthcheck:
      test:
        - CMD-SHELL
        - valkey-cli ping | grep PONG
      interval: 1s
      timeout: 3s
      retries: 5
      start_period: 3s

  #################################################################################
  # Code Runner
  #################################################################################
  code-runner:
    image: huakesh/code-runner:latest
    restart: unless-stopped
    env_file:
      - .env.code_runner
    networks:
      - code-runner-net
      - code-runner-ingress

  #################################################################################
  # Lichobi
  #################################################################################
  lichobi:
    image: huakesh/lichobi:latest
    restart: unless-stopped
    env_file:
      - .env.lichobi
    networks:
      - code-runner-net

volumes:
  authentik-media-data:
  authentik-custom-templates-data:
  authentik-certs-data:
  authentik-db-data:
  ollama-data:
  open-webui-data:
  penpot-assets-data:
  penpot-db-data:

networks:
  authentik-net:
  authentik-ingress:
  ollama-net:
  open-webui-ingress:
  penpot-net:
  penpot-ingress:
  code-runner-net:
  code-runner-ingress:
