################################
# Common
################################
DOMAIN=<domain>
GATEWAY_PUBLIC_IP=<vps_public_ip>
SERVER_TAILSCALE_IP=<server_tailscale_ip>

################################
# Caddy (TLS)
################################
CF_DNS_API_TOKEN=<cloudflare_api_token>

################################
# Headscale
################################
HEADSCALE_OIDC_CLIENT_ID=<authentik_oauth_client_id>
HEADSCALE_OIDC_CLIENT_SECRET=<authentik_oauth_client_secret>

################################
# Headplane
################################
HEADPLANE_COOKIE_SECRET=<cookie_secret>
HEADPLANE_HEADSCALE_API_KEY=<api_key>
HEADPLANE_OIDC_CLIENT_ID=<client_id>
HEADPLANE_OIDC_CLIENT_SECRET=<client_secret>
