################################
# Common
################################
DOMAIN=<domain>
VPS_PUBLIC_IP=<vps_public_ip>

################################
# Caddy (TLS)
################################
CF_DNS_API_TOKEN=<cloudflare_api_token>

################################
# Headscale
################################
HEADSCALE_OIDC_CLIENT_ID=<google_oauth_client_id>
HEADSCALE_OIDC_ALLOWED_USERS=<your_email@gmail.com>
