################################
# Common
################################
# Domain
DOMAIN=<domain>
ORG_NAME=<org_name>
# SMTP
SMTP_HOST=<smtp_host>
SMTP_PORT=<smtp_port>
SMTP_USERNAME=<smtp_user>
SMTP_PASSWORD=<smtp_pass>
SMTP_USE_TLS=<true|false>
SMTP_USE_SSL=<true|false>

################################
# AdGuard Home
################################
# Nothing here!

################################
# Authentik
################################
AUTHENTIK_PG_DB=<db_name>
AUTHENTIK_PG_USER=<db_user>
AUTHENTIK_PG_PASS=<db_pass>
AUTHENTIK_SECRET_KEY=<auth_secret_key>

################################
# Code Runner
################################
CODERUNNER_API_TOKEN=<api_token>

################################
# Lichobi
################################
LICHOBI_GEMINI_API_KEY=<gemini_api_key>
LICHOBI_DISCORD_BOT_TOKEN=<bot_token>

################################
# Ollama
################################
# Nothing here!

################################
# Open WebUI
################################
OPENWEBUI_OAUTH_ID=<oauth_client_id>
OPENWEBUI_OAUTH_SECRET=<oauth_client_secret>
OPENWEBUI_OAUTH_SLUG=<authentik_application_slug>

################################
# Penpot
################################
PENPOT_SECRET_KEY=<penpot_secret_key>
PENPOT_PG_DB=<db_name>
PENPOT_PG_USER=<db_user>
PENPOT_PG_PASS=<db_pass>
PENPOT_OIDC_ID=<oidc_client_id>
PENPOT_OIDC_SECRET=<oidc_client_secret>
PENPOT_OIDC_SLUG=<authentik_application_slug>

################################
# Traefik
################################
TRAEFIK_LE_EMAIL=<email>
TRAEFIK_CF_DNS_API_TOKEN=<token>
