################################
# Common
################################
# Domain
DOMAIN=<domain>
ORG_NAME=<org_name>
# Limits
MAX_BODY_SIZE_BYTES=<bytes_limit_eg_314572800>
MAX_BODY_SIZE_MB=<mb_limit_eg_300M>
# SMTP
SMTP_HOST=<smtp_host>
SMTP_PORT=<smtp_port>
SMTP_USERNAME=<smtp_user>
SMTP_PASSWORD=<smtp_pass>
SMTP_USE_TLS=<true|false>
SMTP_USE_SSL=<true|false>
SMTP_SECURITY=<starttls|force_tls|off>
SMTP_SECURE_STRING=<ssl|tls|empty>
# Timezone
SERVER_TZ=<timezone>

################################
# Authentik
################################
AUTHENTIK_PG_DB=<db_name>
AUTHENTIK_PG_USER=<db_user>
AUTHENTIK_PG_PASS=<db_pass>
AUTHENTIK_SECRET_KEY=<auth_secret_key>

################################
# Code Runner
################################
CODERUNNER_API_TOKEN=<api_token>

################################
# Immich
################################
IMMICH_STORAGE_LOCATION=<storage_location>
IMMICH_DB_DATABASE_NAME=<db_name>
IMMICH_DB_USERNAME=<db_user>
IMMICH_DB_PASSWORD=<db_pass>
IMMICH_REDIS_PASS=<redis_password>

################################
# Lichobi
################################
LICHOBI_GEMINI_API_KEY=<gemini_api_key>
LICHOBI_DISCORD_BOT_TOKEN=<bot_token>

################################
# Nextcloud
################################
NEXTCLOUD_STORAGE_LOCATION=<storage_location>
NEXTCLOUD_DB_NAME=<db_name>
NEXTCLOUD_DB_USER=<db_user>
NEXTCLOUD_DB_PASSWORD=<db_pass>
NEXTCLOUD_REDIS_PASSWORD=<redis_password>

################################
# Ollama
################################
# Nothing here!

################################
# Open WebUI
################################
OPENWEBUI_OAUTH_ID=<oauth_client_id>
OPENWEBUI_OAUTH_SECRET=<oauth_client_secret>

################################
# Penpot
################################
PENPOT_SECRET_KEY=<penpot_secret_key>
PENPOT_PG_DB=<db_name>
PENPOT_PG_USER=<db_user>
PENPOT_PG_PASS=<db_pass>
PENPOT_REDIS_PASS=<redis_password>
PENPOT_OIDC_ID=<oidc_client_id>
PENPOT_OIDC_SECRET=<oidc_client_secret>

################################
# Headplane
################################
# NOTE: Headplane config is in services/headplane/config.yaml
# Edit that file directly - it does NOT support environment variables

################################
# Monitoring (Prometheus + Grafana)
################################
# Grafana admin credentials
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=<strong_password>
# NOTE: Update prometheus.yml with VPS Tailscale IP after deployment

################################
# Traefik
################################
TRAEFIK_LE_EMAIL=<email>
TRAEFIK_CF_DNS_API_TOKEN=<token>
TRAEFIK_CROWDSEC_LAPI_KEY=<generated_key>

################################
# Vaultwarden
################################
VAULTWARDEN_PUSH_INSTALLATION_ID=<push_id>
VAULTWARDEN_PUSH_INSTALLATION_KEY=<push_key>
VAULTWARDEN_ORG_CREATION_USERS=<email1,email2>
VAULTWARDEN_ADMIN_TOKEN=<admin_token>
